* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #09090A;
  color: white;

  height: 100vh;

}

header{
  /* margin: 100px 120px 48px; */
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  width: 100%;

 

}

button{
  font-family: 'Inter';
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;

  display: flex;
  gap: 12px;
  align-items: center;

  padding: 16px 24px;
  border-radius: 8px;
  border: 1px solid #8b5cf6;

  background-color: transparent;
  color: white;
}

#form-habits{
  display: flex;

  padding: 182px 48px 48px;

  width: -moz-fit-content;
  width: fit-content;
}

.habits{
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 58px;
}

.habit{

  width: 64px;  
  height: 64px;

  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.days{
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div{
  margin-bottom: 8px;

  font-family: 'Roboto Mono';
  font-size: 20px;
  line-height: 125%;

  color: #a1a1aa; 

  text-align: center;

}
input{
  appearance: none;
  /* -webkit-appearance: none; */

  width: 64px;
  height: 64px;

  border: 2px solid #27272a;
  border-radius: 8px;

  background: #18181b;
}

/* pseud-selector */
input:checked{
  background: #8b5cf6;
  border: 2px solid #a78bfa;
}

@media (max-width: 570px){
  button div{
    display: none;
  }
}
